{% extends "index/header.html" %}

{% block content %}

 <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <a href="/api"><h3 class="masthead-brand">DINO API</h3></a>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/api">Home</a>
            <a class="nav-link" href="/api/stocks">API</a>
            <a class="nav-link" href="/api/contact">Support</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome to DINO API</h1>
        <p class="lead">The project is managed by the Department of Information Science at HHU Düsseldorf. You are on the start page of the API of the DINO project. If you have any questions, please contact us.</p>
        <p class="lead">
          <a href="http://www.isi.hhu.de/abteilungen/abteilung-fuer-informationswissenschaft.html" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>API for the <a href="https://dino-app.de/">DINO Project</a>, by <a href="#" onclick="window.open('http://www.uni-duesseldorf.de/home/startseite.html')">Heinrich-Heine University Düsseldorf</a>.</p>
        </div>
      </footer>
 </div>

{% endblock %}